body{
    background-color: rgb(135, 132, 132);
    margin: 5px;
}
.box{
    background-color: white;
    width: 50px;
    border: 2px solid black;
    display: flex;
    flex: 1;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}
.row{
    display: flex;
    gap: 5px;

}
.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}